<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    {% include '_navigation.html' %}

 {% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="flash-messages">
      <div class="alert">{{ messages[-1] }}</div>
    </div>
  {% endif %}
{% endwith %}



    {%if basket%}
        <ul>
            {%for position in basket%}
                <li>{{position}} , к-сть: {{basket[position]}}</li>
            {%endfor%}
        </ul>
        <form method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
            <input type="submit" value="Оформити замволення">

        </form>
    {%else%}
        <h1>Ваш список замовлень пустий</h1>
    {%endif%}
</body>
</html>